<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smog check</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
<style>
#section1 {
  height: 520px;
  background-color: pink;
}

#section2 {
  height: 600px;
  background-color: yellow;
}
#section3 {
  height: 400px;
  background-color: aquamarine;
}
#section4 {
  height: 880px;
  background-color: goldenrod;
}
#section5 {
  height: 1480px;
  background-color: lightgreen;
}
</style>
</head>
<body>
  
  
  <img src= "https://mail.google.com/mail/u/0/
  https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r2849697825200135152&th=17c5daf25c11486a&view=att&disp=safe&saddbat=ANGjdJ-Y192IQOdf9nxE1ecmRz-WKpCp65Er_J3iq9EvdTqqUrUe1A5Jde2jElcbbqDV2yGkDuvU1-AhwRG_qlNNdg2qFuYDx_OgbTS4-G_D8JfiVdwA4fbgwKVU2Fxt0EYnTFlSNwhBqHdfBqIXMBirCXgFrDCGD-vMYSvdRt6VbqU2QKas8tyJp69nQ5wsKzWv38M6jGtXU30mA8ecsZf4ygdpXRaJ96PUFvtKH1V-eNOOuvNY35AG4pwyK-3xu3rQ6FXMAj0GUCSLnwt3Zd8BPnTbGD_GGG8JVdr8ADHLu_DBUrTKskNptn6Op4mz__E0wiulf2grCCXdVJbu8d0J6ExkHXYLIeZfimJLr_JaRooYhIUtKTNYfxIL8_znQuBitzP0fAUKTBKvKVwQqKhNh4wyoe-f4MByqjnRNFXWMcQOIIoKNVcTLTn44CoeKHENwX0lgQhWvJdRX376HsO0l8m4knXDlnWEWH0iVq3bElx84kVZ09EhYKJPjYi4FGq-5d_0kAZ-dekd9i_jdl4Ye-DEtfb_SKUs349pIM8mXUgf_-279nMnbx4Dd5ezVEQPYCsr8CDAbqycVc6mimo_Fn8blz7Y7fMhvdoEJ830DcKpYkc5C77iowbdltvgtRRO8DyUeKOUvuCxqyiNpuccz9jlgxYbWwW1otnEGVLTGDOpSdYWiRLV84LnA-w" alt="logo" width="250" height="80" align="center">
  
  <br><br><h4 style="color:blue;">Call us at 707-555-SMOG for amazing deals!!!</h4>
  
  

  <div class="main" id="section1">
  
  <h2 style="font-family:Copperplate, Papyrus, fantasy">Our guarantee</h2>
  <img src="https://mail.google.com/mail/u/0/
  https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r-235982981077114582&th=17c5db120e14e8f5&view=att&disp=safe&saddbat=ANGjdJ93n_cRU-bCBfq0Q1vuaHDzoi0bwR2cG3CcZeoWUu8mHWpFzbnAaI6hOEMw4OtoQZxc3TYkxDhmHMr-006DH81mYrC034v9ZoQrSgOYs-C4rvGxIU_q2MMUmyum3xhtrNW3KCj-PMbdIs3woa4oPW-6iAUK6YTQK_16ASdpa8StAg5l5R31SQmhxHQZEBXOeUIRHR2urbhd6pzRFAZaOOmBs0pW9ctMKJDMHZcSYirUAKJQExzqXsDxq7KruHbk3QFOJQSpIJdvEMGX2jF2dwmAXqDt9EZamh5J7JZKm2BBcTBC7BUiG5ShTfxUkk6Ddi0vQRO0HsQDv5dLSu_wfq5S3isFPw2-yLvAJaPiZsI4EwR_m9p4JPjGjugBl0RkTWh_RXf8hV3zY1TEUpcN3uSKeUK_6MGFBAjSKtsRkngnfUTg1CIfKv0-s0a7MkqaYNO5CwVNaEJNmWoEJXqH5L1OYUPJbLKBfWUB-6G3pqwx2dPFa8j--zU4eHkKw9P7nX3uTb5ZfkVvIOBCmyzirOMe7kk5LzPyPAkQELIJ9YIDxcUz1ZxT4L-WrQedPZYsPq2_k-1qXK4hbTRO-dhTpVT7ne-CnLxBzGmuzQ8m_QTzUbZghtWSBeaa03AilsYloOI4jURwVjbBb3Z5YjbkHHgQvKHZtrjx704fjumcEa2vDV5NPVxzeyPUaAg" alt="jim" width="700" height="420" align="left">
  <br><br><h1 style="font-family:Impact">We GUARANTEE that you will PASS the DMV smog check or you will get a FREE TEST after you make the needed fixes!</h1>
  <a href="#section1">Working to make sure you car passes</a><br>
  <a href="#section2">Get the best deal</a><br>
  <a href="#section3">What we offer</a><br>
  <a href="#section4">Our location and contact info</a><br>
  <a href="#section5">Do you have any addtional questions?</a><br>
  
</div>

<div class="main" id="section2">
  <h2 style="font-family:Copperplate, Papyrus, fantasy">Get the best deal</h2>
  <img src="https://mail.google.com/mail/u/0/
  https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r-7778070817229290787&th=17c5daa89457e9c9&view=att&disp=safe&saddbat=ANGjdJ-ZL4MxCXiKk_hRggziDN6h-eVZ3QKZph-H__OeBVFlR2QPpznnMxl8XZt73ZhhsGS0wlh5ErSVD2aWyVP0Vr53GspRl2jhVApH3CnoTQYjBYrpoyYU8ydf-Kw5I1mgDqPORpUdvIOb2_EeLlmBm7xy0kKTlgQcSCWKnkboDZTQbB-oPGc2irwdjPJVsHHWlf-tvtxEA_O8f0xgsHuf6QI2p8JIeYHQcZqSVZoufBrx3ee9U5RM33Mlwnu6xw-1_xyb54gOxxQyOqh0-xEfYFj0FZmR0cUsJls1Q1vaSEWprN1RcQoyaxM73Q_IMKolTrRiAzyC0pH2HUV9TqdkemWf61PRwq5Vf5AdEiQOmH83XQUshEK1TToxxTrATDkcjsjigCf2PYIUgEmasZVuSfyj81Fu_YH2b0hVTuNt3nx2XjX2FNhAnmg3Ly3i6r4eZucJlmyKt1WiYG1Zej446Ovi9zF_pMuoB5WGZkFJx_qOyb-11xCqP7hwCGWRR3RJeRxBAidjoGh_sDTa_f5deUc2pTdXXvsQ5xhSjbw79trZBSjpYuAmYGdfKC9MASIyj2fkrOcDTwOZlIQZ_-pZLgLV8WtfIpnwBWksVojnhmaLuCfXaBM6i4tGW2EdInmtBGtV3dAemdxu_AXUzTPzw7l17v6va1agjjkoviQrVcd0CzUJ3XEMcS_lQZM" alt="jim" width="700" height="500" align="right">
  <br><br><h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">This is our coupon so you can enjoy a discount on your DMV smog check.</h1>
  <br><br><h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Make sure and hold on to this coupon because it will never expire!</h1>
  <a href="#section3">What we offer</a>
</div>

<div class="main" id="section3">
  <h2 style="font-family:Copperplate, Papyrus, fantasy">About us</h2>
  <img src="https://mail.google.com/mail/u/0/
  https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r1013984033351070524&th=17c5da8a630919ab&view=att&disp=safe&saddbat=ANGjdJ_Dmo9QoNT4o7A-GKi02qqSBKBkvRHEAoc8HO3JBcVZxhNcO2mrEBPXedrFCi1AAmVmZyFPPIE9xBhmjlv9H8KcCRYXsP5xh46Zt0jQISTRtNz2IS1xGt6MjP4w_XpJgx7h_ts32OFAtMsXps9u1JJcUI0hlordEr_fUvVCfRGciZ2jL6F-uyAjTaZgL7u225MP4pdIC5RuWIydViXsGk7fn5d4b-lZraoNeUYJAIFhQ1z5xc4ON3R9JE_3o4vtWkuVPEWlBdMMZqrrFtx7nKKGfJmdtNFI-Hz22PtFmkIvF0LV3-Zn54g_Jj3Pt0m1PsN8h_y2xvgNM-ZgarYc34-XAf7S8ZmbwjJXbSvJExZ_peILHXNktk3y-QW_ELoof7MLAL1OU0FMLEm7Q6v0RWLfMyHYLnaogEmGv-FRsxyUR-Ox0gLxZfVYB3pMXDiIXU_zkooGBCagZGc0ifglFBRNO6pZCxneUxV6kfSFWD4E4eh_wEHOBRtW5SHZotEgWNKHe3rcRoCMUS3sPm0B77lkq5YrfZwl9IfyZ5AoWTQfkXnvO5LKYOMUkpFgFXgxmREIPKo8Cnu26zsg7a1oi2mFJvB0N1l_bp9GDBP3quFBL-ax2jhwnl3HPIyEyt2ft7HFoY4M9Nnv_9_i0KLbzdOhd-xXc4nDqE7FKwevOJ26a6edt4KFxwfBClU" alt="jim" width="700" height="300" align="left">
  <h1><ul>
    <h2>
      <li>Veteran Owned & Operated</li>
      <li>DMV Approved Smog Tests</li>
      <li>No Appointments Needed</li>
      <li>Fast 2-Lane Service</li>
      <li>Clean Waiting Area</li>
      <li>Top Professionals</li>
    </h2>
  </ul></h1>
  <a href="#section4">Our location and contact info</a>
</div>

<div class="main" id="section4">
  <h2 style="font-family:Copperplate, Papyrus, fantasy">Car smog near you</h2>
  <img src="https://mail.google.com/mail/u/0/
  https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-f:1713725603213332257&th=17c8605b3e05cf21&view=att&disp=safe&saddbat=ANGjdJ-r9F6b2S0LWIFnXMfWYRLS_eGmf-zkt6rY95bk-dU1akzW62Fa8RJSAPbIQoijHhIzts1F87_MUqxejCBIxtRR5_hPt1PowUI-LQyFt9PsiHKA_60759sgORKOitRluVov79x99siiTPvYm94Re3zCPFkeQaV_RVOqgHwjFTxYajiJwg5l-qX7acvKTfdghXte9KboIW9_wlqQeBrp3d1MwDyomm-y1A8P45OU4cjcSyxg-YXJXX3jXlKo88uCUUqLGRvsaQu534UlkbBoF-PKmtG1-NSFqh_FcuWbG8K6jm2vUghssdKv51zcKyefEfT6rSWpPlT_S_9S_l5QgnFPuCfeXVifo04ENvZ7Ptf_P6Ft-7a9T7r_KMUH7G-cCoHGCIQ-1lHIqsTJdHYg0k_8sodiqobTpYidhrLdetgVoijAAchGleCcwcojYWxfSihX5yCzCIGufQwzrrnr2GNwftdumawI44WrlYwhNIx9uwtokeWYMDdJhvnjGR73kN2a9we181z3sC9O5wfSCTEvoCEEqt_GODhDKfnU4g8SKfKIJgoZkl9EzffHoRvyScADsJtT3okLQOC4ery52b2cdYwQE_Ax2zBKAXUYSLEp8L3G0_nGYd9s9WATE1ruBnf971axizW55B94Rdp_SplhPAerqS1mD1TeSF4JsKjo762k2yrM7V3qrTc" alt="jim" width="1200" height="600" align="center">
  
  <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">Our location is 555 Maple Street, Cooltown, California 00000</h3>
  <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">Days/Hours: Monday-Saturday 9 a.m.-6 p.m. Closed on Sunday</h3>
  <a href="http://www.credit-card-logos.com/"><img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_17.gif" width="450" height="50" border="0" align="center" /></a>
  <br><br><a href="#section5">Do you have any additional questions?</a>

  
</div>

<div class="main" id="section5">
  <h2 style="font-family:Copperplate, Papyrus, fantasy">Frequently asked questions</h2>
  <img src="https://mail.google.com/mail/u/0/
  https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=02d6e9013e&attid=0.1&permmsgid=msg-a:r-2769001706112461157&th=17c5db3ac47b75e0&view=att&disp=safe&saddbat=ANGjdJ9uhAGiP18Ez1M2lzaepYJrZKa6l7H3dQP7di-T0gjNWIxaBWjxVzhLcixOhhh5QuZCt7fhrAM_bLebYsysv4hAZCIlsqaOatcic9YCSZ4UfCUcgvs88qnjJDNXB40QKGpSD7N7zP6lUmQ0fHZQMqtqWrGSh88blrPQlFRQ82iSzIL3zbNQEzSrKZhjkmkzH4XHODzWBeMaqGaQAyP5VkQy8loaboSbgojttIuMNxWDuE8dU_dgPT7O4G8m4QJOfRaYNAZB6_NKZ50ZOGXOwhBz6-RXRveWpUvib0kY72p58Ec9LsrU3VbUA1YkpLCeiztR761hU2rs880tQh9hwxWqdQdBXlZdk0bkCNfmTemKRw_RyKYjTZPFNn54gmws3F0592zkGd12VvBiATHeVL8rG4FmdhxO9WOH6XrgrSmfZg_1PRfwmUwXcW43tw9GIwOmCZIjkLQbih2TDPtNRaJcNb5EKa5igZg9J_H5vfO1IpEPDTup6M6IJLM2n9Crn6zIldCIRrTEcdGVQfgOENi8LISkS84hLgZkBlYglNDm1uNSrSnIp1tI2FC4LiLFNpWFwaSLCxdhoodQdlvjaoMvDaChabxNWXkhDJ8Gw4CmMd5ys3fu4Ax4bMk5DJ3kZtIBzDUs_6W_OBG7hDN-XaDQFEeV2gQGJDfGkn5-HJZAtidRguVp8t-oSSA" alt="jim" width="600" height="300" align="right">
  <!-- <h1>Frequently Asked Questions​</h1>
  <h3></h3> -->

​
<h3 style="font-family:Arial Black">Why do I need a DMV smog check?</h3>
<p>Mandatory smog checks were established to spot excessive emissions in order to work towards better air quality. As a hub of car-production and car-enthusiasts, the California EPA reports that “Californians set the pace nation-wide in their love affairs with cars.”

California’s 34 million residents own about 25 million cars – roughly one car per person aged 18 and older. Considering these facts, it is not a surprise that California’s air quality is amongst the nation’s worst and an increasing number of Californians are concerned about the damage done to their environment and health.

​ Testing for excessive emissions can greatly improve the overall impact on the environment, allowing for better air quality.</p>
<h3 style="font-family:Arial Black">What is a car smog test?</h3>
<p>A smog test is a simple check-up performed on your car. The inspection is conducted in three distinct parts.

The first step is a visual inspection to ensure the emission control devices are properly installed and connected. The second step is a functional test to determine whether the warning light is functioning correctly. The final step involves placing the vehicle on a dyne (special testing device) and an emission reading is gathered through a probe positioned in the tailpipe of the vehicle. The results are then analyzed.

If the vehicle passes the inspection, the owner receives a certificate attesting that the vehicle passed. Otherwise, if the vehicle does not pass, the technician will inform the owner of the necessary repairs. All repairs must be applied in order to renew registration or register the vehicle.</p>

<h3 style="font-family:Arial Black">Can you pass emissions with a check engine light on?</h3>
<p>If your check engine light is on, you'll automatically fail your smog test in the state of California. In California, your auto mechanic cannot refuse to test your car if they see the light on. Under state law, they have to test and fail your car.
  Furthermore, one of the more common reasons for your check engine light to be on is a faulty or broken oxygen sensor. Your oxygen sensor helps you put a good gas/air mixture into your engine. If you have a broken oxygen sensor, even with the check engine light off, you will fail you smog test.
  Ideally, before you test your car with the check engine light on, take it to your local auto repair shop for a diagnosis and make any necessary repairs. Your mechanic can diagnose and repair any exhaust system issue that might cause your check engine light to turn on.</p>



<h3 style="font-family:Arial Black">Do I need a smog shop for a repair?</h3>
​<p>A smog repair involves making adjustments to a vehicle’s emissions so that it can meet California’s emission standards. The state of California requires that a vehicle owner make at least $450 worth of emission repairs performed by a licensed and trained technician. Home-mechanic repairs are not discouraged but will not be counted towards the $450 minimum.</p>
​<h3 style="font-family:Arial Black">Do I need a smog check?</h3>
​<p>Not all vehicles must get a smog check. Additionally, some vehicles only need a passing smog check when they are being sold or being registered in California after previously being registered in another state. Whether or not a vehicle needs a smog check depends on the type of vehicle, the model-year, and the area in which the vehicle is registered. Under California vehicle emissions control laws and regulations, you must get a smog check for your car in the following cases.

When you transfer a vehicle that is four or less model years old a smog certification is not required. (Determine the oldest-qualifying year model by subtracting three from the current year.) The four or less model years old rule does not apply to diesel powered vehicles. A smog transfer fee will be collected from the new owner. When a vehicle is more than four model years old, a seller must provide evidence of a current smog certification except when one of the following occurs:
The transfer occurs between a spouse, domestic partner, sibling, child, parent, grandparent, or grandchild.
A biennial smog certification was submitted to DMV within 90 days prior to the vehicle transfer date (a vehicle inspection report may be required for proof of certification).
Smog certifications are good for 90 days from the date of issuance.</p>
<h3 style="font-family:Arial Black">How often do I need to get smogged?</h3>
​<p>Vehicles registered in areas subject to the biennial smog certification program are required to submit evidence of a smog certification every other renewal period. Starting January 1, 2005, owners of vehicles six or less model years old will pay an annual smog abatement fee for the first six registration years instead of being required to provide a biennial smog certification. The registration renewal notice mailed to you by the department will indicate if a smog certification is required. If a smog certification is required and you have not had a smog inspection, you may still pay your registration fees to avoid any late fees. However, you will not receive your new registration or year sticker until the smog information has been received by DMV.
​<h3 style="font-family:Arial Black">Does my vehicle require a smog inspection?</h3>
<p>Smog inspections are required unless your vehicle is:​</p>
  <ul>
    <p>
      <li> Gasoline powered 1975 year model or older</li>
      <li>Diesel powered manufactured prior to 1998 or with a Gross Vehicle Weight rating (GVWR) of more than 14,000 pounds</li>
      <li>Electric</li>
      <li>Natural gas powered with a GVWR rating of more than 14,000 pounds</li>
      <li>Motorcycle</li>
      <li>Trailer</li>
      </ul>
    </p>
   
  <a href="#section1">Working to make sure you car passes</a>
</div>

</body>
</html>
